[include]
	path = ~/.config/git/gitconfig-user-per
[include]
	path = ~/.config/git/gitconfig-deltadiff

[format]
	pretty = oneline
[log]
	abbrevCommit = true
[init]
	defaultBranch = main
[pager]
	log = true # always page log
[pull]
	ff = only # no automatic merges
[push]
	default = simple
[submodule]
	recurse = true

