[user]
	name = Daniel Carl Jones
	email = danny@danielcarl.info
[core]
	excludesfile = /Users/danny/.gitignore_global
[format]
	pretty = oneline
[log]
	abbrevCommit = true
[init]
	defaultBranch = main
